[user]
	name = 
	email = 
	signingkey = 
[push]
	autoSetupRemote = true
[credential]
  helper = pass --pass-name "${org}" --template "~/.config/git-credential-pass/.${org}.template"
[includeIf "gitdir:~/gitlab/${org}/"]
  path = ~/.config/git-credential-pass/.gitconfig-work
[commit]
	gpgsign = true

